@model IEnumerable<Common.PlannedWork>

@if (ViewData["Contact"] != null)
{
    <h1 style="color:blue">@ViewData["Title"]</h1>
}
</br>
</br>
</br>
<meta http-equiv="refresh" content="4" />
<body style="background-repeat:no-repeat; background-size:cover;">
<table class="table table-striped" style="background-color:aliceblue; opacity:0.9; border-collapse:separate; border-spacing:0.85em; font-family:'Comic Sans MS', Times, serif; border-radius:12px; border-width:1px">
    <caption style="text-align:center; background-color:aliceblue; border:thin; border-color:aquamarine; border-radius:9px; border-width:1px; font-family:'Comic Sans MS', Times, serif; font-style:italic; opacity:0.8; font-weight:500; color:black; font-size:19pt">List of all planned works on airplanes</caption>
    <tr>
        <th>Id of current work </th>
        <th>Airport</th>
        <th>Type of Airport</th>
        <th>Details of work</th>
        <th>Work steps</th>
    </tr>
    @foreach (var m in Model)
    {
        <tr>
            <td>@m.IdCurrentWork</td>
            <td>@m.Airport</td>
            <td>@m.TypeOfAirport</td>
            <td>@m.DetailsOfWorks</td>
            <td>@m.WorkSteps</td>
        </tr>
    }
</table>
 </body>
